*{
	box-sizing: border-box
}

body {
	width: 100%;
	background-image: url("../images/5houses.jpg");
	background-size: 100%;
}

.container-fluid {
	padding-right: 2%;
	padding-left: 2%;
}

.header {
	background-color: #CC0300;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 7px;
	padding: 1em;
}

.heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 45pt;
	color: #ffffff;
}

.subheading {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 38pt;
	color: #ffffff;
}

#questionWrapper {
	background-color: #222222;
	color: #ffffff;
	height: 540px;
	padding: 0 200px;
}

.gif{
	width: 358px;
	padding-top: 20px;
}

#timer {
	text-align: center;
	color: #ffffff;
	font-size: 30pt;
	margin-bottom: 15px;
	font-family: 'Muli', sans-serif;
	margin-right: 40%;
	margin-left: 40%;
	padding: .25em;
	background-color: #CC0300;
}

.scoreboard {
	margin-top: 20px;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 30pt;
	color: #ffffff;
}

.btn-warning {
	background-color: #FFDE00;
	color: #111111;
}

#question {
	font-size: 30pt;
	margin: 20px 0 15px 0;
	text-align: center;
	font-family: 'Muli', sans-serif;
}

.correct {
	font-size: 30pt;
	text-align: center;
	padding-top: 20px;
	font-family: 'Muli', sans-serif;
}

.nextQuestion {
	width: 100%;
	padding: .25em 0;
/*	margin-top: 8px;*/
}

li {
	margin: 5px 0;
}

.answer, .restart {
	width: 100%;
	height: 65px;
}

.btn {
	font-family: 'Muli', sans-serif;
	font-size: 20pt;
}

#start {	
	width: 100%;
	margin-top: 175px;
    padding: 45px 0;
    font-family: 'Muli', sans-serif;
    font-size: 30pt;
}

@media screen and (max-width: 994px) {
	#questionWrapper {
		padding: 0 100px;
	}

	#timer, #question, .scoreboard, .correct {
		font-size: 20pt;
	}

	.btn {
		font-size: 16pt;
	}

	.answer, .restart {
		height: 45px;
	}
}

@media screen and (max-width: 600px) {
	#questionWrapper {
		padding: 0 30px;
	}
}

@media screen and (max-width: 460px) {
	#questionWrapper {
		padding: 0 5px;
	}

	.btn {
		font-size: 15pt;
	}
}

font-family: 'Muli', sans-serif;